#body {
    background-image: url('../src/bak.jpg');
    background-size: 100vw 100vh;
}

#head {
    background-color: rgb(98, 175, 98);
    font: 100px;
    text-align: center;
}

div > p {
    text-align: center;
    background-color: azure;
}

#p {
    background-color: rgb(201, 214, 226);
    border: 10px solid navy;
    font-family:'Courier New', 'Arial Narrow', Arial, sans-serif;
}   

iframe {
    position: relative;
    left: 20px;
    margin-bottom: 10px;
}

#mazegame {
    border: 10px solid rgb(114, 238, 238);
    border-radius: 10px;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-color: white;
}

.mazeblock {
    opacity: 0%;
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
}

.mazeblock:hover {
    opacity: 100%;
}

.m1 {
    opacity: 50%;
    color: white;
}
.m3 { 
    position: relative;
    left: 50px;
    bottom: 50px;
}
.m4 {
    position: relative;
    left: 100px;
    bottom: 100px;
}
.m5 {
    position: relative;
    left: 100px;
    bottom: 100px;
}
.m6 {
    position: relative;
    left: 100px;
    bottom: 100px;
}
.m7 {
    position: relative;
    left: 150px;
    bottom: 150px;
}
.m8 {
    position: relative;
    left: 200px;
    bottom: 200px;
}
.m9 {
    position: relative;
    left: 200px;
    bottom: 300px;
}
.m10 {
    background-color: red;
    text-align: center;
    position: relative;
    left: 250px;
    bottom: 350px;
}
